<h1>Peritos</h1>
<table>
  <thead>
    <tr>
      <th>Fecha vinculación</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <%@car_experts.each do |element|%>
      <tr>
        <td><%=element.created_at%></td>
        <td><%=element.email%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= link_to('Nuevo perito', new_concessionaire_user_path(type:"CarExpert"), method: :get) %>
<h1>Tramitadores</h1>
<table>
  <thead>
    <tr>
      <th>Fecha vinculación</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <%@dispatchers.each do |element|%>
      <tr>
        <td><%=element.created_at%></td>
        <td><%=element.email%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= link_to('Nuevo tramitador', new_concessionaire_user_path(type:"Dispatcher"), method: :get) %>
