<section class="index_benchmarks">
  <h1>Peritajes</h1>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Dueño</th>
        <th>Concesionario</th>
      </tr>
    </thead>
    <tbody>
      <%@all.each do |element|%>
        <tr onclick="location.href='<%= show_benchmark_path(element) %>'">
          <td><%=element.created_at%></td>
          <td><%=element.owner%></td>
          <td><%=element.car_expert.brand.name%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
<%if current_user.type.eql?("CarExpert")%>
  <%= link_to('Nuevo peritaje', validation_benchmark_path, method: :get) %>
<%end%>
