<h1>Nuevo peritaje</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#general_info" data-toggle="tab">
        Información del peritaje
      </a>
    </li>
    <%@questions.each do |category|%>
      <li class="nav-item">
        <a class="nav-link disabled" href="#<%=I18n.transliterate(category[0].name.downcase.gsub(" ","_"))%>" data-toggle="tab">
          <%=category[0].name%>
        </a>
      </li>
    <%end%>
    <li class="nav-item">
      <a class="nav-link disabled" href="#photos" data-toggle="tab">
        Fotos
      </a>
    </li>
</ul>

<article class="tab-content">
  <div class="tab-pane active" id="general_info">
    <%= form_for @benchmark,
        url:create_benchmark_path, method: :post,
        id: "benchmark_form",
        :html => {class: 'new_benchmark'}, data:{remote: true}, multipart: true do |f|%>
      <%= f.hidden_field :car_expert_id, value: current_user.id %>
      <%= f.hidden_field :car_id, value: @benchmark.car.id %>
      <%= f.label(:owner, "Dueño") %>
      <%= f.text_field :owner, required: true %><br>
      <%= f.label(:kilometraje, "Kilometraje") %>
      <%= f.text_field :kilometraje, required: true %><br>
      <%= f.label(:color, "Color") %>
      <%= f.text_field :color, required: true %><br>
      <%= f.fields_for :car_attributes, @benchmark.car do |car|%>
        <%= car.label(:car_type, "Tipo de carro") %>
        <%= car.select :car_type_id, options_from_collection_for_select(@car_types, "id", "name",selected: @benchmark.car.car_type_id),{include_blank: "Seleccione"}, {required:true, disabled:!@benchmark.car.id.nil?} %></br>
        <%= car.label(:car_brand, "Marca") %>
        <%= car.text_field :car_brand, disabled: !@benchmark.car.id.nil?, required: true %><br>
        <%= car.label(:model, "Modelo") %>
        <%= car.text_field :model, disabled: !@benchmark.car.id.nil?, required: true %><br>
        <%= car.label(:year, "Año") %>
        <%= car.text_field :year, disabled: !@benchmark.car.id.nil?, required: true %><br>
        <%= car.label(:year, "VIN") %>
        <%= car.text_field :vin, disabled: !@benchmark.car.id.nil?, required: true %><br>
        <%= car.label(:year, "Placa") %>
        <%= car.text_field :plate, disabled: !@benchmark.car.id.nil?, required: true, class:"plate_input" %><br>
      <%end%>
      <%= submit_tag("Continuar") %>
      <a class="btn btn-primary btnNext" style="display:none;">Next</a>
    <%end%>
  </div>
</article>

<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            // Remove class upload, the one that has the background image
            var $parent = $(input).closest('div.carthumb');
            $($parent).removeClass("upload");
            // Show the img tag
            $($parent).find('img').show();

            // Change the src of the img tag to the img loaded
            $($parent).find('img').attr('src', reader.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
  }

  // Everytime the [input:file] change do
  $(":file").change(function(){
      readURL(this);
  });
</script>
