<h1>Peritaje</h1>

<%= form_for @benchmark,
    url:create_benchmark_path, method: :post,
    id: "benchmark_form",
    :html => {class: 'new_benchmark'}, multipart: true do |f|%>
  <%= f.label(:created_at, "Fecha") %>
  <%= f.text_field :created_at, value:@benchmark.created_at.getlocal.strftime("%Y-%m-%d %H:%M"), disabled: true %><br>
  <%= f.label(:owner, "Dueño") %>
  <%= f.text_field :owner, disabled: true %><br>
  <%= f.label(:kilometraje, "Kilometraje") %>
  <%= f.text_field :kilometraje, disabled: true %><br>
  <%= f.label(:color, "Color") %>
  <%= f.text_field :color, disabled: true %><br>
  <div class="upload carthumb photoshoot__upload">
    <label> Foto frontal </label>
    <img class="img-thumbnail center-block" alt="your image" target="_blank" src="<%=@benchmark.photo_front.url%>">
  </div>
  <div class="upload carthumb photoshoot__upload">
    <label> Foto lado derecho </label>
    <img class="img-thumbnail center-block" alt="your image" target="_blank" src="<%=@benchmark.photo_right.url%>">
  </div>
  <div class="upload carthumb photoshoot__upload">
    <label> Foto atras </label>
    <img class="img-thumbnail center-block" alt="your image" target="_blank" src="<%=@benchmark.photo_back.url%>">
  </div>
  <div class="upload carthumb photoshoot__upload">
    <label> Foto lado izquierdo </label>
    <img class="img-thumbnail center-block" alt="your image" target="_blank" src="<%=@benchmark.photo_left.url%>">
  </div>
  <div class="upload carthumb photoshoot__upload">
    <label> Foto motor </label>
    <img class="img-thumbnail center-block" alt="your image" target="_blank" src="<%=@benchmark.photo_motor.url%>">
  </div>
  <div class="upload carthumb photoshoot__upload">
    <label> Foto interior </label>
    <img class="img-thumbnail center-block" alt="your image" target="_blank" src="<%=@benchmark.photo_inside.url%>">
  </div>
  <br>
  <br>
  <%= f.fields_for :car do |car|%>
    <%= car.label(:car_type, "Tipo de carro") %>
    <%= car.select :car_type_id, options_from_collection_for_select(@car_types, "id", "name", selected: @benchmark.car.car_type_id.to_s),{}, {:disabled=> true} %></br>
    <%= car.label(:car_brand, "Marca") %>
    <%= car.text_field :car_brand, disabled: true %><br>
    <%= car.label(:model, "Modelo") %>
    <%= car.text_field :model, disabled: true %><br>
    <%= car.label(:year, "Año") %>
    <%= car.text_field :year, disabled: true %><br>
    <%= car.label(:year, "VIN") %>
    <%= car.text_field :vin, disabled: true %><br>
    <%= car.label(:year, "Placa") %>
    <%= car.text_field :plate, disabled: true, class:"plate_input" %><br>
  <%end%>
  <br>
  <br>
  <%all_car = 0%>
  <%all_points = 0%>
  <%@questions.each do |question_category|%>
    <h3><%=question_category[0].name%></h3>
    <%category_total=0%>
    <%category_car=0%>
    <%question_category[1].each_with_index do |question,index|%>
      <p><%=question[0].text_query%></p>
      <%= f.fields_for :car_answers, question[1] do |car_answer| %>
        <%case question[0].question_type%>
        <%when "range"%>
          <%category_car+=((question[1].answer-1)/2)*question[0].points%>
          <%category_total+=question[0].points%>
          <%= car_answer.radio_button(:answer, "1", {disabled: true}) %>
          <%= car_answer.label(:bad, "Mal") %>
          <%= car_answer.radio_button(:answer, "2", {disabled: true}) %>
          <%= car_answer.label(:so_so, "Aceptable") %>
          <%= car_answer.radio_button(:answer, "3", {disabled: true}) %>
          <%= car_answer.label(:Good, "Bien") %>
        <%when "yes_or_no"%>
          <%category_car+=((question[1].answer-1)/2)*question[0].points%>
          <%category_total+=question[0].points if question[1].answer!=1%>
          <%= car_answer.radio_button(:answer, "3", disabled: true) %>
          <%= car_answer.label(:very_bad, "Si") %>
          <%= car_answer.radio_button(:answer, "1", disabled: true) %>
          <%= car_answer.label(:bad, "No") %>
        <%when "yes_no_na"%>
          <%category_car+=((question[1].answer-1)/2)*question[0].points if question[1].answer!=0%>
          <%category_total+=question[0].points if question[1].answer!=0%>
          <%= car_answer.radio_button(:answer, "3", disabled: true) %>
          <%= car_answer.label(:bad, "Si") %>
          <%= car_answer.radio_button(:answer, "1", disabled: true) %>
          <%= car_answer.label(:so_so, "No") %>
          <%= car_answer.radio_button(:answer, "0", disabled: true) %>
          <%= car_answer.label(:good, "No aplica") %>
        <%when "good_bad"%>
          <%category_car+=((question[1].answer-1)/2)*question[0].points%>
          <%category_total+=question[0].points if question[1].answer!=1%>
          <%= car_answer.radio_button(:answer, "3", disabled: true) %>
          <%= car_answer.label(:bad, "Si") %>
          <%= car_answer.radio_button(:answer, "1", disabled: true) %>
          <%= car_answer.label(:good, "No") %>
        <%when "good_bad_na"%>
          <%category_car+=((question[1].answer-1)/2)*question[0].points if question[1].answer!=0%>
          <%category_total+=question[0].points if question[1].answer!=0%>
          <%= car_answer.radio_button(:answer, "1", disabled: true) %>
          <%= car_answer.label(:bad, "Bien") %>
          <%= car_answer.radio_button(:answer, "3", disabled: true) %>
          <%= car_answer.label(:so_so, "Mal") %>
          <%= car_answer.radio_button(:answer, "0", disabled: true) %>
          <%= car_answer.label(:good, "No aplica") %>
        <%when "text"%>
          <%= car_answer.text_field :answer, disabled: true %><br>
        <%else%>
          <label><%=question[0].question_type%></label>
        <%end%>
        <%if !@inspection_photos[question[0].id].nil?%>
          <div class="upload carthumb photoshoot__upload">
            <label> Foto </label>
            <img class="img-thumbnail center-block" alt="your image" target="_blank" src="<%=@inspection_photos[question[0].id].first.image.url%>">
          </div>
        <%end%>
      <%end%>
    <%end%>
    <br>
    <br>
    <%if !@comments[question_category[0].id].nil? %>
      <%= f.fields_for :inspection_comments, @comments[question_category[0].id] do |inspection_comment| %>
        <label> Comentarios para <%= question_category[0].name %> </label><br>
        <%= inspection_comment.hidden_field :question_category_id, value: question_category[0].id %>
        <%= inspection_comment.text_area :comment, rows: '6', disabled: true %>
      <%end%>
    <%end%>
    <%all_points += category_total%>
    <%all_car += category_car%>
    <h1>POSIBLES CATEGORÍA: <%=category_total%></h1>
    <h1>CARRO EN CATEGORÍA: <%=category_car%></h1>
    <h1>PORCENTAJE: <%=category_car*100/category_total%>%</h1>
  <%end%>
  <br>
  <h1>PUNTOS POSIBLES: <%=all_points%></h1>
  <h1>PUNTOS CARRO: <%=all_car%></h1>
  <h1>PORCENTAJE CARRO: <%=all_car*100/all_points%>%</h1>
<% end %>
