<h1>New Benchmark</h1>
<%= form_tag(new_benchmark_path, method: "get") do %>
  <%= label_tag(:q, "Ingrese la placa del vehìculo:") %>
  <%= text_field_tag(:plate) %>
  <%= submit_tag("Buscar") %>
<% end %>

<%if current_user.nil?%>
<%= link_to('LogIn', new_user_session_path, method: :get) %>
<%end%>
