<!DOCTYPE html>
<html>
  <head>
    <title>Peritajes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation bar partial -->
    <%= render 'shared/navbar' %>
    <div class="wrapper">
      <%= yield %>
    </div>
</div>
  </body>
</html>
