<!DOCTYPE html>
<html>
  <head>
    <title>Peritajes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin:6%;">
    <%if !current_user.nil?%>
      <%case current_user.type%>
      <%when "SuperUser"%>
        <%= link_to('Empresas', brands_index_path, method: :get) %>
        <%= link_to('Preguntas', index_questions_path, method: :get) %>
      <%when "BrandAdmin"%>
        <%= link_to('Procesos', processes_index_path, method: :get) %>
        <%= link_to('Peritajes', benchmarks_index_path, method: :get) %>
      <%when "CarExpert"%>
        <%= link_to('Peritajes', benchmarks_index_path, method: :get) %>
      <%when "Dispatcher"%>
        <%= link_to('Procesos', processes_index_path, method: :get) %>
      <%end%>

    <%end%>
    <%= yield %>
  </body>
</html>
