<section class="index_car_inspections">
  <h1>Peritajes</h1>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Dueño</th>
        <th>Concesionario</th>
      </tr>
    </thead>
    <tbody>
      <%@all.each do |element|%>
        <tr onclick="location.href='<%= show_car_inspection_path(element) %>'">
          <td><%=element.created_at.localtime.strftime("%F %T")%></td>
          <td><%=element.owner%></td>
          <td><%=element.car_expert.concessionaire.name%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
<%if current_user.type.eql?("CarExpert")%>
  <%= link_to('Nuevo peritaje', validation_car_inspection_path, method: :get) %>
<%end%>
